/**
Using unique font-family names and setting weights and styles to match (for example, not setting them to normal) is the most effective method of getting weights and styles to work with the @font-face declaration.

source: https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/
*/

@font-face {
  font-family: 'Gotham';
  src: url(./assets/fonts/GothamBook.ttf) format('ttf');
}