/*

Color swatch

.fc-attribute-selector-swatch
  .fc-swatch-group
    .fc-outline-target.fc-preview-enabled.fc-swatch-ca.fc-swatch-ca-collar.fc-swatch-ca-XXXXXX.fc-swatch-av-XXXXXX.fc-swatch-ca-collar-av-XXXXXX
      .fc-attribute-value-swatch
        .fc-button-pair
          button.fc-default-button
          .fc-button.fc-fancy-button
            .fc-ripple-effect
            .fc-button-label
              span
                .fc-accessible-swatch.fc-aria-hidden
                  .fc-swatch
                  .fc-swatch-title

*/

#configure-container {
  & .fc-attribute-header .fc-swatch {
    width: var(--swatch-header-size);
    height: var(--swatch-header-size);
  }

  & .fc-swatch-group {
    font-size: 0;

    & .fc-radio {
      width: min-content;
    }

    & .fc-swatch {
      background-size: contain;
    }

    & .fc-swatch,
    & .fc-attribute-title .fc-swatch {
      width: var(--swatch-size);
      height: var(--swatch-size);
      border-radius: var(--swatch-radius);
    }

    & .fc-attribute-value-swatch {
      background-color: var(--theme-primary);
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }

      &.fc-swatch-selected {
        box-shadow: none;
        position: relative;
        background-color: var(--theme-primary);

        &::before {
          display: block;
          content: '\e902';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: var(--color-text-invert);
          z-index: 1;
          text-shadow: 0 0 2px rgba(16, 16, 16, 0.4);
        }
      }
    }

    & .fc-swatch-ca .fc-attribute-value-swatch {
      border: 1px solid var(--border-color);
      margin: 1px;
      background-color: var(--theme-primary);
      box-shadow: none;
    }
  }
}

@media (--lower-than-md) {
  #configure-container {
    & .fc-swatch-group .fc-swatch-ca .fc-attribute-value-swatch {
      margin: 2px;
    }
  }
}

@media (--ms-ie) {
  /* fallback css var on IE */
  #configure-container {
    & .fc-swatch,
    & .fc-attribute-title .fc-swatch {
      width: 35px;
      height: 35px;
      border-radius: 0;
    }

    & .fc-attribute-value-swatch,
    & .fc-attribute-value-swatch.fc-swatch-selected {
      background-color: #fff;
    }

    & .fc-swatch-group .fc-swatch-ca .fc-attribute-value-swatch {
      border: 1px solid #ebebeb;
    }

    & .fc-attribute-header .fc-swatch {
      width: 25px;
      height: 25px;
    }

    & .fc-attribute-value-swatch.fc-swatch-selected::before {
      color: #fff;
    }
  }
}
